body{
    margin:0 px;
}
.container
{
    dispaly:grid;
    grid-template-columns: 1fr;
}

.nav
{
    display:flex;
    justify-content: space-between;
    padding:30px;
   
} 
.left
{
    display: flex;
}

.nav > .left > div{
    margin-right:20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.navlink
{
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.navlink a {
    color:#8a8a8a;
    text-decoration:none;
    transition: color 0.5s;
}
.navlink:hover{
    border-bottom:1px solid black;
}
.navlink a:hover{
    color:black;
}
/* Portfolio items*/
.portfolios
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.portolioitem{
    position: relative;

}
.portfolioimage{
    height: 350px;
    width:100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
.portfoliotext 
{
    position: absolute;
    top:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    text-align:center; 
   
}
.logo img
{
    width:50%;
    margin-bottom:20px;
}
.portfoliotext .subtitle
{
    transition:1s;
    font-weight:600;
    color:transparent;
}
.portfoliotext:hover.subtitle{
    font-weight:600;
    color:lightseagreen;
}
.img-draken
{
    transition:1s;
    filter:brightness(10%);
}